@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Poppins:wght@200;300;500&family=Roboto+Mono:wght@200&display=swap');

body {
  width: 100%;
  min-height: 100%;
  background-color: #0b132b;
  color: white;
  margin: 0;
  font-family: 'Lato', 'Roboto',sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6, ul, li {
  margin: 0;
  padding: 0;
}

img{
  object-fit: cover;
}

span {
  color: #e0aaff;
  font-weight: 300;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, ::before, ::after {
  box-sizing: border-box;
}